@import url("common.css");
@import url("side_menu.css");

.about-top-half-split{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    width:100%;
}

.about-child-img {
    max-width: 150%;
    max-height:100%;
  }
  
  .about-child-txt {
    padding-left:130px;
    font-size: 20px;
    width:170%;
    height:50%;
  }

  .about-page-schedule{
    color: #a51417;
    text-align:left;
  }

