.slideshow-heading {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

.slideshow-heading h3 {
    font-size: 1.76rem;
    text-align: center;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    min-height: 100px;
    clear: both;
    display: flex;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.slideshow-entry {
    display: none;
    clear: both;
}

.slideshow-entry .text {
    padding: 2em;
    color: white;
    background-color: #a51417;
    font-size: 1.25em;
    font-style: italic;
    padding: 2.5em;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */

.slideshow-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-buttons {
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #bbb;
    color: #bbb;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
}

.slideshow-buttons:hover {
    border-color: #a51417;
    color: #a51417;
}

.slideshow-buttons:focus {
    outline: none;
}

.slideshow-dots {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}
.active {
    background-color: #aaa;
}

.slideshow-dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}