@import url("common.css");
.image-container {
    background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");

}

#btn {
    color: #a51417;
    border: #a51417;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    font-size: 1rem;
    line-height: 1.1;
    padding: 8px 20px;
    text-align: center;
}
